@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "CooperBlack";
  src: url("/fonts/COOPBL.TTF") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "CBBOutline";
  src: url("/fonts/Cooper-Becker-Black-Outline.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "ReenieBeanie";
  src: url("/fonts/ReenieBeanie.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

html,
body {
  @apply bg-primary;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}

h1 {
  @apply font-cbboutline text-6xl text-secondary-100;
}

p {
  @apply font-rbeanie text-secondary-300;
}

@layer components {
  .font-cooperblack {
    font-family: "CooperBlack", sans-serif;
  }
  .font-cbboutline {
    font-family: "CBBOutline", sans-serif;
  }
  .font-rbeanie {
    font-family: "ReenieBeanie", sans-serif;
  }
}

/* Fjern autofill styling hentet fra @PringlePot fra tailwindcss "discussions"
https://github.com/tailwindlabs/tailwindcss/discussions/9621 
*/
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-text-fill-color: #585B19 !important;
  color: #585B19 !important;
  caret-color: #585B19 !important;
  transition: background-color 5000s ease-in-out 0s;
}